<h1><p><center>ACI!D Reign Chronicles</center></p></h1>
<h5><p><center>is a game inspired by Grimes</center></p></h5>
<br>
<h5><p style="margin-left: 30px; margin-right: 30px; text-indent: 50px">
	Video game development is the process of creating a video game. Development is undertaken by a game developer, which may range from one person to a large business. Traditional commercial PC and console games are normally funded by a publisher and take several years to develop. Indie games can take less time and can be produced cheaply by individuals and small developers. The indie game industry has seen a rise in recent years with the growth of new online distribution systems and the mobile game market.
</p></h5>