body {
	background-color: #000000;
	color: #FFFFFF;
}
h1 {
	text-align: center;
}
/*img*/
.game {
	text-align: center;
}
.game img{
	height: 35%;
	width: 35%;
}
/*navbar*/
#basic-tabs-color {
	background-color: #FFFFFF;
}
/*body*/

/*badges*/
.badges{
	text-align: center;
}
.badges .badge-link {
	display: block;
	margin-bottom: 25px;
}
.badges .badge-link:last-child {
	margin-bottom: 0;
}
.badges .badge-link img {
	height: 60px;
}
@media (min-width: 768px) {
	.badges .badge-link {
		display: inline-block;
		margin-bottom: 0;
  }
}
/*social badges*/
.badges .badge-link2 {
	display: block;
	margin-bottom: 25px;
	align-self: center;
}
.badges .badge-link2:last-child {
	margin-bottom: 0;
}
.badges .badge-link2 img {
	height: 32px;
}
@media (min-width: 768px) {
	.badges .badge-link2 {
		display: inline-block;
		margin-bottom: 0;
  }
}
/**/
/*#about-panel li {
	list-style-type: none;
}
#updates-panel li {
	list-style-type: none;
}
#team-panel li {
	list-style-type: none;
}*/